{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Rachel Johnson</h1>
        <p>Making it in the Freelance world!</p>
        <img src="https://lh3.googleusercontent.com/XoDPdrbYSZzu2UUO6JYeoadVAa6LxbEBS3u5z7kBurvjTbpWN37MrdRbsKaEduupShJdWmXCl8sIFOqyqd1si5NuuwFVgR_PiLkZ7WWjeDQv3mhWQ89bwlx9okfS3pAhYiBAsKt8ys-ES4F4DZsO0K7gKBf3wf4y2_7nbcN1LeeUg7lu9_cEmUMNAN51WSYVa9w5buhKy9aKqyH2I5LPtqMNhQVICrm9VFWmEb2sdsNd2l3V5IO7mlrSA6Hbca-XsbKoKKfWDlc7Niqps7_AIiKDJppu4XRYYwJoOuaPINH3-T2GayX0_fWVV8WrsV4yHptNK_MD5U23YVPdNmY_1_yr-MEPNkkFqQSqUAYfa47n0Oufr_7zx3j2tIcRTNrau_NO9O83Dwee71LJiZcGW_aZDjomM5Tkw37ejkuodh4-BWwwyRQZxjUz4r9V4uWr2EI_RdLh28JBF5D2UbBN7a5aGKRoE7Xu1TkgsbdEYXBL7JPfLSPY701szFSCZlfJw3hHHW6wQAcxBJvIHE_iAHVNeO3w9D2srw_43r7UBTpDZg86D0CEkXf6yc1gIvQyUqy6oji-XFkJS-fdwHes5agqdcXnTek8GCA5zJSHwgFoLOl53JWvKn9v57E4pri90nmoh_Z1vAltgpoOhBu_WPKZR7ttPhY1p0ipOVPuv_iYFFs7y2Np2seMWxVi4mciFXNyfYrk6P1G55x2Qh_VYig=w1250-h937-no?authuser=0" alt="New Zealand Skifields">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>A little about me</h2>
        <p>I’m a highly technical Graphic Designer, Web Designer and Developer with a passion for creating design and web solutions in-house and for clients that reflect this technological age. For over 5 years, I’ve been helping clients and businesses with their branding, company collateral, advertising solutions and visual content. I also design and develop results-driven websites that promote sales and visits for my clients.</p>

        <p>My modern technology driven workflow sets me apart from traditional Designers, as I subscribe to new technologies, utilising macros, scripts, commands, and programming fundamentals to maximise workflow.</p>

        <p>When I’m not on the job, I love attending dance and gymnastic classes, learning new skills through online courses, and experimenting in the kitchen.</p>

        <a target="_blank" href="http://racheljohnson.net/resume_20210702.pdf"><i class="far fa-file"></i>Resume</a>
    </section>
{% endblock %}